/*commons*/
.border-separator{
    border-bottom: 2px solid goldenrod;
    /* Formula non contratta:
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
    */
}
.text-center{
    text-align: center;
}
/*Inizio stile header*/
header{
    background-color: #ededed;
}
#profile-pic{
    height: 250px;
}
/*Fine stile header*/